$white: #ffffff;
$black: #000000;

$blue: #4d5eff;
$blue-10: #2735bb;
$blue-20: #0d1877;

$light-blue-10: #8ea7ff;
$light-blue-20: #c5d5ff;
$light-blue-30: #e2e9ff;
$light-blue-40: #f4f6ff;

$gray-10: #eceef2;
$gray-20: #d3d7de;
$gray-30: #a5abb5;
$gray-40: #6c717a;
$gray-50: #4c4f56;
$gray-60: #303134;
$gray-70: #1e2023;
$gray-80: #090a0b;
